body {
  font-family: "Lekton", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #eee;
}

@page {
  margin: 2cm 2cm 1cm 2cm;
}
@page :first {
  margin-top: 1cm;
}

.app {
  max-width: 1024px;
  margin: 16px auto;
  @media screen {
    padding-top: 16px;
  }
}

.no-wrap {
  white-space: nowrap;
}

ul {
  margin: 0;
}

dl {
  width: 230px;
  display: flex;
  flex-flow: row wrap;

  dt {
    flex-basis: 30%;
    text-align: right;
    font-weight: bold;
  }
  dd {
    flex-basis: 70%;
    text-align: left;
    margin: 0;
    box-sizing: border-box;
    padding-left: 8px;
  }
}

.print-only {
  @media screen {
    display: none;
  }
}

.text-tiny {
  font-size: 14px;
}

.text-small {
  font-size: 16px;
  line-height: 20px;
}

.headline-level-1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 12px;

  @media print {
    display: inline-block;
  }
}

.headline-level-2 {
  font-weight: 700;
  font-size: 18px;
  color: #111;
  margin-bottom: 8px;
}

.headline-level-3 {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 8px;
  font-weight: 700;
}

.headline-level-4 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.item-grid {
  @media screen {
    margin: 0 -8px;
    display: flex;
    flex-wrap: wrap;

    .cell {
      width: 33.333%;
      padding: 0 8px;
      box-sizing: border-box;
      margin-bottom: 8px;
    }
  }

  @media print {
    margin: 0;
    .cell {
      display: inline-block;
      break-inside: avoid;
      width: 100%;
      margin-bottom: 8px;

      &:after {
        content: "";
        display: block;
        height: 0px;
        visibility: hidden;
      }
    }
  }
}

.print-only {
  @media screen {
    display: none;
  }
}

.item {
  break-inside: avoid;
  font-size: 14px;
  text-align: left;
  color: #222;
}

.item-title {
  font-weight: 700;
  font-size: 18px;
  color: #111;
  margin-bottom: 8px;
}

.item-subtitle {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
}

.item-date {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
}

.info-box {
  -webkit-print-color-adjust: exact;
  padding: 16px;
  flex-shrink: 0;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #333;
}

.info-name {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.section {
  @media screen {
    align-self: center;
  }
}
