body {
    font-family: "Lekton", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        background: #eee;
    @media screen {
    }
}

.app {
    max-width: 1024px;
    margin: 16px auto;
    @media screen {
        padding-top: 16px;
    }
}


h1, h2, h3, h4 {
    margin: 0;
}

.flex-container {
    display: flex;
}

.flex-dir-row {
    flex-direction: row;
}

.flex-align-center {
    align-items: center;
}

.no-wrap {
    white-space: nowrap;
}

$spacing: (
    tiny: 4px,
    small: 8px,
    medium: 16px,
    large: 24px,
    xlarge: 32px,
);


@each $space, $value in $spacing {

    .top-space-#{$space} {
        margin-top: $value;
    }
    .bottom-space-#{$space} {
        margin-bottom: $value;
    }

    .left-space-#{$space} {
        margin-left: $value;
    }
    .right-space-#{$space} {
        margin-right: $value;
    }

    .horizontal-space-#{$space} {
        margin-right: $value;
        margin-left: $value;
    }

    .vertical-space-#{$space} {
        margin-top: $value;
        margin-bottom: $value;
    }

    .left-pad-#{$space} {
        padding-left: $value;
    }

    .right-pad-#{$space} {
        padding-right: $value;
    }

    .top-pad-#{$space} {
        padding-top: $value;
    }

    .bottom-pad-#{$space} {
        padding-bottom: $value;
    }

    .horizontal-pad-#{$space} {
        padding-left: $value;
        padding-right: $value;
    }

    .vertical-pad-#{$space} {
        padding-top: $value;
        padding-bottom: $value;
    }
}


.text-tiny {
    font-size: 14px;
}

.text-small {
    font-size: 16px;
    line-height: 20px;
}

.headline-level-1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 16px;
}

.headline-level-2 {
    font-weight: 700;
    font-size: 18px;
    color: #222;
}

.headline-level-3 {
    font-size: 16px;
    line-height: 16px;
}

.headline-level-4 {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
}



.item-grid {
    margin: 0 -8px;
    display: flex;
    flex-wrap: wrap;

    @media screen {
        .cell {
            width: 33.333%;
            padding: 0 8px;
            box-sizing: border-box;
            margin-bottom: 8px;
        }
    }

    @media print {
        margin: 0;
        .cell {
            width: 100%;
            margin-bottom: 8px;
        }
    }
}

.info-box {
    -webkit-print-color-adjust: exact;
    padding: 16px;
    flex-shrink: 0;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #333;

}

.info-name {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}

.section {
    align-self: center;
}

.item-list {

}

.item {
    font-size: 14px;
    text-align: left;
    color: #444;
}

.item-title {
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 8px 0;
    color: #222;
}

.item-subtitle {
    font-size: 14px;
    margin: 0 0 8px 0;
}
